body {
	background: #d9d9d9;
	height: 100%;
}

h1{
	background: linear-gradient(grey, black);
	color: white;
	text-align: right;
	padding-top: 50px;
	padding-right: 10px;
	width: 100%;
}
h2{
	text-align: center;
	color: black;
}
a{
	background: #d9d9d9;
	position: relative;
	top: 30%;
	left: 5px;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
}
.menu{
	position: fixed;
	background: black;
	height: 100%;
	margin-top: -25px;
}
.parkingLot{
	margin: auto;
	margin-top: -90px;
	width: 750px;	
}

.login{
	position: relative;
	top: 1%;
	margin-left: 5px;
}

.register{
	position: relative;
	top: 1%;
	margin-left: -5px;
	
}

.profile{
	position: relative;
	top: 1%;
	margin-left: 25%;
}


